@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
nav{
    background-color: white;
}
*{
    font-family: Rubik;
}
.btnSaldo{
    min-width: 150px;
    background-color: #fff;
    color: #044C7E;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border: 1px solid #044C7E;
    border-radius: 20px;
}
a{
    margin-left: 20px;
}
.mainText{
    color: #0B132A;
    font-family: Rubik;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
}